{% if include.content_blocks.size > 0 %}
    <div class="c-page theme-{{ include.page_theme | slugify | default: 'dark' }}">

    {% assign block_count = 0 %}
    {% for block in include.content_blocks %}
        {% assign c = block._bookshop_name | prepend: 'c-' %}
        <div class="{{c}} 
                    component-wrapper
                    {% if block.component_theme %}
                        component-wrapper--{{ block.component_theme | slugify }}
                    {% else %}
                        component-wrapper--light
                    {% endif %}" 
             data-cms-editor-link="cloudcannon:#content_blocks[{{ block_count }}]">

             <div class="cms-editor-link">
                <span class="cms-editor-button"></span>
                {% bookshop {{block._bookshop_name}} bind=block %}
            </div>
        </div>
        {% assign block_count = block_count | plus: 1 %}
    {% endfor %}

    </div>
{% endif %}