<div class="{{c}}__inner-wrapper
			component">
	{% assign heading = include.heading | size %}
	{% if heading > 3 %}
		<h2 class="{{c}}__main-heading">{{ include.heading }}</h2>
	{% endif %}
	{% assign lower = include.lower_text | size %}
	{% if lower > 3 %}
		<p class="{{c}}__lower-text">{{ include.lower_text }}</p>
	{% endif %}

	<div class="{{c}}__form-wrapper">
		<form class="{{c}}__form"
			  action="/contact-success/" 
			  method="post">
			<input type="hidden" 
				   name="_to" 
				   value="{{ include.form_submission_email }}" />
			<input type="text" 
				   name="_gotcha" 
				   style="display: none;">

			<label for="name">Full Name</label>
			<input type="text" 
				   name="name" id="name" 
				   placeholder="Enter your name..." />

			<label for="email">Email Address</label>
			<input type="email" 
				   name="email" 
				   id="email" 
				   placeholder="Enter your email..." 
				   required />

			<label for="message">Message</label>
			<textarea name="message" 
				   id="message" 
				   placeholder="Enter your message..."></textarea>
			{% bookshop button 
						label='Send Message'
						variant='Filled'
						submit=true %}
		</form>
		<div class="{{c}}__details">
			{% assign address = include.company_details.address | size %}
			{% if address > 4 %}
				<h3 class="{{c}}__heading">Address</h3>
				<address class="{{c}}__detail">
					<a target="_blank" 
					   href="https://www.google.com/maps/place/{{ include.company_details.address | url_encode }}">{{ include.company_details.address | replace: ", ", ", <br>" }}</a>
				</address>
			{% endif %}

			{% assign postal = include.company_details.postal_address | size %}
			{% if postal > 4 %}
				<h3 class="{{c}}__heading">Postal Address</h3>
				<address class="{{c}}__detail">
					<a target="_blank" 
					   href="https://www.google.com/maps/place/{{ include.company_details.postal_address | url_encode }}">{{ include.company_details.postal_address | replace: ", ", ", <br>" }}</a>
				</address>
			{% endif %}

			{% assign email = include.company_details.email | size %}
			{% if email > 4 %}
				<h3 class="{{c}}__heading">Email Address</h3>
				<p class="{{c}}__detail {{c}}__detail--no-margin">
					<a href="mailto:{{ include.company_details.email }}">{{ include.company_details.email }}</a>
				</p>
			{% endif %}

			{% assign phone = include.company_details.phone | size %}
			{% if phone > 4 %}
				<h3 class="{{c}}__heading">Phone Number</h3>
				<p class="{{c}}__detail {{c}}__detail--no-margin">
					<a href="tel:{{ include.company_details.phone }}">{{ include.company_details.phone }}</a>
				</p>
			{% endif %}
		</div>
	</div>
</div>
