{% assign c = "c-author-card" %}
{% assign author = site.staff_members | find: "_id", page.author_staff_member %}
<div class="{{c}}__inner-wrapper">
	<h4 class="{{c}}__heading">Meet the author</h4>
	<div class="{{c}}__content">
		<div class="{{c}}__top">
			<img class="{{c}}__image"
				 src="{{ author.image }}"
				 alt="{{ author.name }}" />
			<div class="{{c}}__details">
				<p class="{{c}}__name">
					{% if author.twitter %}
						<a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a>
					{% else %}
						{{ author.name }}
					{% endif %}
				</p>

				{% if author.position %}
					<p class="{{c}}__role">{{ author.position }}</p>
				{% endif %}

				{% if author.phone %}
					<p class="{{c}}__phone"><a href="tel:{{ author.phone }}">{{ author.phone }}</a>
						{% if author.phone_extension %}
							ext {{ author.phone_extension }}
						{% endif %}
					</p>
				{% endif %}
			</div>
		</div>
		<p class="{{c}}__text">{{ author.blurb }}</p>
	</div>
</div>
