.c-header-with-navigation {
	padding: 80px 40px;
	height: 80vh;
	background-position: calc(50% - 350px) calc(100% + 20px);
	background-size: contain;
	background-repeat: no-repeat;

	@media (max-width: 700px) {
		padding: 30px 20px;
		max-height: 420px;
		background-position: calc(50% - 40px) 175px;
	}

	&--small {
		height: 420px;
	}

	&.component {
		margin-top: calc(var(--navigation-offset) * -1);
		max-width: none;
	}

	&__content-wrapper {
		margin: 0 auto;
		max-width: 960px;
		text-align: right;

		@media(max-width: 700px) {
			text-align: center;
		}

		a {
			color: var(--text-color);
			transition: color 0.2s ease;

			&:hover {
				text-decoration: none;
				color: var(--link-color);
			}
		}
	}

	&__heading {
		h1 {
			margin: 0 -10px 0 0;
			letter-spacing: 14px;
			text-transform: uppercase;

			a {
				line-height: var(--s-80-100);
				font-size: var(--s-58-81);
			}
		}
	}

	&__navigation {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		list-style: none;
		
		@media(max-width: 700px) {
			justify-content: center;
		}

		li {
			margin: 0 10px;
		}
	}

	&__nav-link {
		line-height: 175%;
		font-size: 2em;

		&--active {
			border-bottom: 2px solid;
		}
	}
}