{% assign c = "c-posts-list" %}
{% if include.show_posts %}
	<div class="{{c}}__inner-wrapper">
		{% if include.heading %}
			<h2 class="{{c}}__heading">{{ include.heading }}</h2>
		{% endif %}
		{% if include.content_text %}
			<p class="{{c}}__content">{{ include.content_text }}</p>
		{% endif %}

		{% unless include.tag %}
			{% assign posts = site.posts %}
		{% else %}
			{% assign posts = site.posts | where_exp:"post", "post.categories contains include.tag" %}
		{% endunless %}

		{% for post in posts %}
			{% bookshop post-preview post=post %}
		{% endfor %}
	</div>
{% endif %}
