.n-post-preview {
	&__inner-wrapper {
		padding: 0 0 100px 0;

		.n-button {
			padding: 10px 30px;
		}
	}

	&__top {
		display: block;
	}

	&__preview-image {
		display: none;
		padding: 0 20px 20px 0;
		width: 210px;
		height: 160px;
		object-fit: cover;
		border-radius: 2px;

		@media (max-width: 450px) {
			padding-right: 0;
			width: 100%;
		}
	}

	&__content {

	}
}