<div class="{{c}}__inner-wrapper
			component">
	<h2 class="{{c}}__heading">{{ include.heading }}</h2>
	<div class="{{c}}__wrapper">
		{% for update in include.updates %}
			<div class="{{c}}__update">
				<img src="{{ update.image }}" alt="{{ update.title }}" />
				<div class="{{c}}__content-wrapper">
					<p class="{{c}}__date">{{ update.date | date: "%B %-d, %Y" }}</p>
					<p class="{{c}}__title">{{ update.title }}</p>
					<p class="{{c}}__content">{{ update.content_text }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
