<div class="{{c}}__inner-wrapper
			{{c}}__inner-wrapper--{{ include.content_alignment | slugify }}
			component">
	<div class="{{c}}__content-wrapper">
		<div class="{{c}}__heading"
			 style="color: {{ include.text_color }}">{{ include.heading_html }}</div>
		<div class="{{c}}__subheading"
			 style="color: {{ include.text_color }}">{{ include.subheading_html }}</div>
		{% if include.button_link_url %}
			{% bookshop button 
						label=include.button_label
						variant=include.button_variant
						link_url=include.button_link_url %}
		{% endif %}
	</div>
	{% if include.image %}
		<div class="{{c}}__image-wrapper">
			<img src="{{ include.image }}" alt="{{ include.heading }}" />
		</div>
	{% endif %}
</div>