.c-content {

    

    &__content-wrapper {
        margin: 0 auto;
        padding: 0 var(--s-20-40);
        max-width: 1024px;
        font-size: var(--content-font-size);

        & >:first-child {
            margin-top: 0;
        }
        
        & >:last-child {
            margin-bottom: 0;
        }
    }
}