.c-divider {
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--border-color);

	&.component {
		margin: var(--component-padding) auto;
		
		&:before, &:after {
			content: unset;
			height: 0px;
			background-color: unset;
		}
	}
}