.c-posts-list {

	&__inner-wrapper {
		position: relative;  // Required for the Urban theme
		z-index: 5;  // Required for the Urban theme
		margin: 0 auto;
		padding: var(--component-padding) 25px;
		max-width: 750px;
	}

	&__heading, &__content {
		text-align: center;
	}

	&__content {
		margin-bottom: var(--component-padding);
	}

	.n-post-preview__inner-wrapper:last-child {
		padding-bottom: 0;
	}
}

