.c-services {
	&__inner-wrapper {
		padding: var(--component-padding) 0;
	}

	&__heading {

	}

	&__description {

	}

	&__services {

	}

	&__service {
		margin-top: 60px;

		img {

		}
	}

	&__title {
		margin-top: 60px;

	}

	&__content {

	}
}